################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TacosIdentity/Tacos.Identity.Service/obj
